{% include "user-account/header.html" with username=username %}

<div class="bg-img">
  <div class="container2">
    <div class="welcome-text" style="margin-left: 10vw">
      <h3 style="color: #00483d; font-weight: bolder">
        HSB FINANCE WELCOMES YOU !
      </h3>
      <div style="margin-top: 20px">
        <p style="word-spacing: 8px">
          HSB Financial Services is a reputable financial institution committed
          to providing top-notch financial solutions and services to its
          clients. With a strong focus on customer satisfaction and industry
          expertise, HSB Financial Services aims to empower individuals and
          businesses with the knowledge and tools they need to achieve their
          financial goals.
        </p>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
