{% include "header.html" %}  <!--header file included here-->
    <div class="about-container">
        <center>
            <h2>About HSB Financial Services</h2>
        </center>
        <div style="width: 60vw; margin-left: 50px;">
            <p>
                <b>HSB Financial Services</b> is a leading financial institution located in the heart of Ram Nagar, Hari Bihar Colony,
                Karbigahiya. With our commitment to excellence and customer satisfaction, we strive to provide the best financial
                solutions to individuals and businesses in the surrounding area.
            </p>
            <p>
                Conveniently situated near Jakkanpur Thana in Mithapur, our location offers easy accessibility for our valued clients.
                Whether you're seeking advice on personal loans, business loans, home loans, credit cards, or any other financial
                services, our dedicated team is ready to assist you.<br/>
                <b>
                    Address:<br/>
                    Mithapur Patna,<br/>
                    Bihar 800001
                </b>
            </p>
            <p>
                Our office is easily reachable, ensuring a smooth and convenient experience when visiting us. Feel free to drop by
                during our business hours.<br/>
                
                For any queries or to schedule an appointment, you can contact us at:<br/>
                
                <b>Phone: +91 9546374498</b><br/>
                <b>Email: raj@hsbfinancialservices.com</b>
            </p>
            <p>
                Contact us today or visit our office to experience the HSB Financial Services difference. We look forward to serving you
                and being your trusted financial partner.
            </p>
            
        </div>
    
    
    
    </div>
    </body>
    
    </html>