{% include "header.html" %}

<div class="bg-img">
  <div class="container2">
    <div class="welcome-text">
      <div style="margin-top: 20px">
        <p style="word-spacing: 8px">
          <b>HSB Financial Services</b> strive to make the password recovery
          process as seamless and secure as possible. Our Forgot Password page
          is designed to ensure your convenience while safeguarding the privacy
          and security of your account. Trust us to assist you in regaining
          access to your account swiftly and efficiently.
        </p>
      </div>
    </div>
    <div class="login-container">
      {% if message %}
      <center><h6 style="color: red">{{message}}</h6></center>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        <h3 style="color: #00483d">PASSWORD RECOVERY</h3>
        <b><label>Email</label></b>
        <input
          type="text"
          name="email"
          placeholder="Enter your email"
          class="input1"
          required
        /><br />

        <button type="submit" class="btn btn-primary btn-signin">
          Get Otp
        </button>
      </form>
    </div>
  </div>
</div>
{% include "footer.html" %}
