{% include "header.html" %}  <!--header file included here-->

    <div class="partner-container">
        <center>
            <h2>OUR PARTNERS</h2>
        </center>
        <div style="width: 60vw; margin-left: 50px;">
            <p>At <b>HSB Financial Services</b>, At HSB Financial Services, we believe in collaborating with industry-leading institutions to provide our clients with
            the best financial solutions and services. We are proud to partner with the following esteemed organizations:</p>

            <p>We value our partnerships and strive to create synergies that benefit our clients. Together
            with our partners, we aim to empower individuals and businesses with the tools and support they need to achieve their
            financial goals.</p>
            <p>
                These partnerships reflect our commitment to offering quality financial products and services that cater to the diverse
                needs of our clients. By collaborating with these esteemed institutions, we are able to leverage their expertise and
                resources, providing our clients with innovative and reliable financial solutions.
            </p>
            <div class="partners">
            </div>
        </div>




    </div>
</body>

</html>