{% include "header.html" %}

    <div class="bg-img">
      <div class="container2">
        <div class="login-container">
            {% if message %}
                <center><h6 style="color: red">{{message}}</h6></center>
                {% endif %}
          <form method="POST">
            {% csrf_token %}
            <h3 style="color: #00483d">Reset Your Passsword</h3>
            <b
              ><label>New Password</label></b
            >
        
            <input
              type="password"
              name="new_password"
              placeholder="new password"
              class="input1"
              required
            /><br />
            <b
              ><label>Confirm Password</label></b
            >
            
            <input
              type="password"
              name="confirm_password"
              placeholder="confirm password"
              class="input1"
              required
            /><br />

            <button type="submit" class="btn btn-primary btn-signin">
              reset
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer navbar-dark bg-dark">
      <div style="height: 50px; padding-top: 10px">
        <center>
          <p style="color: white">
            All rights are reserved @HSB FINANACE | Design by
            <a href="https://rabs-ramii.github.io/portfolio/" target="_blank">
              rabs_ramii</a
            >
          </p>
        </center>
      </div>
    </div>
  </body>
</html>
